<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Planmo Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
<header>
  <img class="header" src="planmoheader.png" alt="Planmo">
</header>
<nav>
  <ul class="nav">
  <li class="nav"><a  href="#Home" v-on:click= "pageName = 'Home'">Home</a></li>
  <li class="nav"><a  href="#ScheduleCreation" v-on:click= "pageName = 'ScheduleCreation'"> Create A Schedule</a></li>
  <li class="nav"><a  href="#Contact" v-on:click= "pageName = 'Contact'"> Contact</a></li>
  <li class="nav"><a  href="#About" v-on:click= "pageName = 'About'"> About</a></li>
  <li class="admin"> <a  href="#LogIn" v-on:click= "pageName = 'LogIn'"> Log In</a></li>
  <li class="admin"> <a  href="#SignUp" v-on:click= "pageName = 'SignUp'"> Sign Up</a></li>
</ul>
</nav>
    <!-- First page -->
<main v-bind:hidden="pageName != 'Home'">
       <!-- The Home Page  -->
  <div class="home">
    <h2>Welcome To Planmo</h2>
    <h3>current schedules</h3>
    <ul>
      <li v-for="schedule in schedules">
        <p>Reminji:{{selectedreminji}}</p>
        <p>Name:{{}}</p>
        <p> <button v-onclick=addTodo(schedule.currenttodo)> </button> </p>
        <input v-model="currentTodo">
        <ul>
          <li v-for="todo in schedudle.todo"></li>
          <p> {{todo}} </p>
          <p> <button> </p>
        </ul>
      </li>
    </ul>
    <div id="myDIV" class="todohead">

    <h2 v-bind:class="schedulename">{{schedulename}}</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn">Add</span>
    <ul class="todolist">
      {{tasks}}
    </ul>

    </div>
  </div>
</main>

    <!-- Second page -->
    <main v-bind:hidden="pageName != 'About'">
      <!-- The About Page  -->
      <div class="about">
      <h2>What Is Planmo?</h2>
      <p>Planmo was created in order to make time management fun! I want to encourage users to look forward to managing their time and becoming actively engaged with their schedule!</p>
      </div>
    </main>

    <main v-bind:hidden="pageName != 'Contact'">
      <!-- The Contact Page  -->
      <div class="contact">
      <h2>Having Trouble?</h2>
      <p>Please email support@planmo.com</p>
      <h2>Forgot Password?</h2>
      <p>You should probs just make a new account tbh :/</p>
      </div>
    </main>

    <main v-bind:hidden="pageName != 'ScheduleCreation'">
      <!-- This section is dedicated to creating a new schedule -->
    <div class="ScheduleCreation">
      <!--This section is dedicated to selecting a Reminji for the new calendar -->
      <div class="reminjiwindow">
        <img v-bind:src="reminjiview" alt="Your Reminji" class="reminjiview">
      </div>

        <div class="ReminjiSelection">
        <h1>Choose A Reminji</h1>
        <p>This little critter is going to help you keep track of your schedule! Make sure you keep up to date on your tasks in order to keep it happy and healthy!</p>
        <div class="Reminjis">
          <ul>
            <select v-model="selectedreminji">
              <option v-for="reminji in reminjis" v-bind:value="reminji"> {{ reminji }} </option>
            </select>
        </div>
        </div>

        <div class="color" >
          <h1>Choose A Color</h1>
          <p>Choose a color for your Reminji and your schedule!</p>
          <select v-model="selectedcolor">
            <option v-for="color in colors" v-bind:value="color"> {{ color }} </option>
          </select>
        </div>

    <div class="typeselect">
      <h1>Choose A Type Of Schedule</h1>
      <p>Choose the purpose of the schedule, it should help when it comes to prioritizing your calendar!</p>
      <select>
        <option v-for="type in types" value= "type"> {{ type }} </option>
      </select>

      <div class="schedulename">
        <h1>Name Your Schedule</h1>
        <p>This is to help you keep track of what it's for!</p>
        <form class="schedname" action="index.html" method="post">
          <input v-model=type="text" name="todoname">
          <input type="submit">

        </form>
      </div>

    </div>
      </div>

    </main>

    <main v-bind:hidden="pageName != 'LogIn'">
    </main>

    <main v-bind:hidden="pageName != 'SignUp'">
    </main>


  </div>
    <script src="./dist/main.js" type="text/javascript"></script>
  </body>
</html>
