<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Planmo Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
<header>
  <img class="header" src="planmoheader.png" alt="Planmo">
</header>
<nav>
  <ul class="nav">
  <li class="nav"><a  href="#Home" v-on:click= "pageName = 'Home'">Home</a></li>
  <li class="nav"><a  href="#ScheduleCreation" v-on:click= "pageName = 'ScheduleCreation'"> Create A Schedule</a></li>
  <li class="nav"><a  href="#Contact" v-on:click= "pageName = 'Contact'"> Contact</a></li>
  <li class="nav"><a  href="#About" v-on:click= "pageName = 'About'"> About</a></li>
  <li class="admin"> <a  href="#LogIn" v-on:click= "pageName = 'LogIn'"> Log In</a></li>
  <li class="admin"> <a  href="#SignUp" v-on:click= "pageName = 'SignUp'"> Sign Up</a></li>
  </ul>
</nav>
    <!-- First page -->
<main v-bind:hidden="pageName != 'Home'">
       <!-- The Home Page  -->
  <div class="home">
    <ul>
          <li v-for="schedule in schedules">
            <p>Reminj: {{ schedule.reminji }}</p>
            <P>Name: {{ schedule.name }}</p>
            <p><input v-model="currentTodo"></p>
            <p><button v-on:click="addTodo(schedule, currentTodo)">Add</button></p>
            <ul>
              <li v-for="todo in schedule.todos">
                <p>{{ todo }}</p>
                <p><button v-on:click="removeTodo(schedule, todo)">Remove</button</p>
              </li>
            </ul>
          </li>

        </ul>
    </div>
</main>

    <!-- Second page -->
    <main v-bind:hidden="pageName != 'About'">
      <!-- The About Page  -->
      <div class="about">
      </div>
    </main>

    <main v-bind:hidden="pageName != 'Contact'">
      <!-- The Contact Page  -->
      <div class="contact">
      </div>
    </main>

    <main v-bind:hidden="pageName != 'ScheduleCreation'">
      <form v-model="scheduleCreation" class="schedname" action="index.html">
      <!-- This section is dedicated to creating a new schedule -->
    <div class="ScheduleCreation">
      <!--This section is dedicated to selecting a Reminji for the new calendar -->
      <div class="reminjiwindow">
        <img v-bind:src="reminjiview" alt="Your Reminji" class="reminjiview">
      </div>

        <div class="ReminjiSelection">
        <h1>Choose A Reminji</h1>
        <p>This little critter is going to help you keep track of your schedule! Make sure you keep up to date on your tasks in order to keep it happy and healthy!</p>
        <div class="Reminjis">
          <ul>
            <select v-model="selectedreminji">
              <option v-for="reminji in reminjis" v-bind:value="reminji"> {{ reminji }} </option>
            </select>
        </div>
        </div>

        <div class="color" >
          <h1>Choose A Color</h1>
          <p>Choose a color for your Reminji and your schedule!</p>
          <select v-model="selectedcolor">
            <option v-for="color in colors" v-bind:value="color"> {{ color }} </option>
          </select>
        </div>

    <div class="typeselect">
      <h1>Choose A Type Of Schedule</h1>
      <p>Choose the purpose of the schedule, it should help when it comes to prioritizing your calendar!</p>
      <select>
        <option v-for="type in types" value= "type"> {{ type }} </option>
      </select>

      <div class="schedulename">
        <h1>Name Your Schedule</h1>
        <p>This is to help you keep track of what it's for!</p>
          <input type="text" v-model= "schedulename">
          <!-- <input v-model=type="text" name="todoname"> -->
        <button v-on:click="scheduleCreation"> Finish </button>
          </form>
      </div>

    </div>
      </div>

    </main>

    <main v-bind:hidden="pageName != 'LogIn'">
    </main>

    <main v-bind:hidden="pageName != 'SignUp'">
    </main>


  </div>
    <script src="./dist/main.js" type="text/javascript"></script>
  </body>
</html>
