/* Slideshow container */
.ReminjiSelection {
  max-width: 30%;
  position: absolute;
  margin: auto 0;
  left: 50%;
  border: 10%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: red;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  border-top: 20%;
}

h1
{
 left: 50%;
 text-align: center;
}
