/* Max Bulver */
/* I followed tutorials on W3Schools for the nav bar and to do lists */
/* imports the fonts I want from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Overpass');


.show {display: block;}
/* sets the bg color and margins for the body */
body
{
background-color: #C4F4FF;
margin: 0;
}
/* creates the fade in animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: inherit;
  }
}
/* creates the nav bar animation */
@keyframes navblow{
  from {
    font-size: 1em;
  }
  to {
    font-size: 1.3em;
  }
}

/* styles all h3 elements */
h3 {
  margin: 0;
  font-size: 1.3em;
}

/* animates elements in the ScheduleCreation class */
.ScheduleCreation
{
animation-duration: 2s;
animation-name: fadein;
}

/* animates elements in the home class */
.home
{
  animation-duration: 2s;
  animation-name: fadein;
}

/* styles all li elements */
li {
list-style: none;
}

/* styles all ul elements */
ul {
  margin: 0;
}

/* styles all ul,h1,h2,h3,select, and button elements */
ul,h1,h2,h3,select,input,button {
  font-family: 'Fredoka One', cursive;
  border-radius: 4px;
}

/* styles all select,input, and button elements */
select,input,button {
  font-size: 1.2em;
  padding: 0;
  border: 1px solid #4055FF;
}
/* gives the same padding to button and input elements */
button,input {
  padding: 1px 5px 1px 5px;
}

/* styles all p elements */
p {
font-family: 'Overpass', sans-serif;
}

/* stlyes all input elements */
input{
  margin-left: 0px;
}

/* stlyes the ul elements in the nav class */
ul.nav {
  background-color: #C4F4FF;
  list-style-type: none;
  overflow: hidden;
  border: 4px solid white;
}

/* stlyes the li and a elements in the nav class and the psuedoclasses the css can provide */
li.nav a {
  display: block;
  color: #000;
  padding: 2%;
  text-decoration: none;
  font-family: 'Coiny', cursive;
}
li.nav a.active {
  background-color: #3A60FF;
  color: white;
}
li.nav a:hover:not(.active) {
  background-color: #4985FF;
  color: white;
  animation-name: navblow;
  animation-duration: 1.5s;
  border-radius: 5px;
}

/* styles the li elements in the nav class */
li.nav {
display: block;
color: white;
text-align: center;
text-decoration: none;
float: left;
width: 15%;
}

/* stlyes the header class */
.header {
  margin-left: 40%;
  width: 20%;
  height: 20%;
}

/* stlyes the reminjiview class */
.reminjiview {
  clear: left;
  width: 5in;
  height: 5in;
  float: none;
  display:block;
  margin: auto;
  top:0;
  bottom:0;
  margin-top: 10%;
}

/* stlyes the reminjiwindow class */
.reminjiwindow {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  margin-right: 5%;
  background-position: center;
  width: 6in;
  height: 6in;
  clear: none;
}

/* stlyes the ScheduleCreation class */
.ScheduleCreation
{
  display: block;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  width: 30%;
  margin-left: 5%;
  float: left;
  clear: none;
}

/* styles the currentSchedules class */
.currentschedules
{
  margin: 0;
  padding: 0;
}

/* Stylizes the the currentschedules list items */
li.currentschedules {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

/* Styles the schedname class */
.schednames {
  text-align: left;
}

/* Styles the addtask class */
.addtask {
  margin: 0;
  width: 25%;
  padding: 5px;
  float: left;
}

/* Style the add button */
.add {
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
}

/* styles the nosched class */
.nosched {
  margin-left: 2%;
}

/* Styles the schedreminji class to display the image how it's needed */
.schedreminji {
  width: 4in;
  height: 4in;
  float: right;
  display:block;
  margin-right: 20%;
}

/* Styles the schedtitle class */
.schedtitle {
  margin-left: 5%;
  list-style: none;
}

/* Styles the schetasks class */
.schedtasks {
  margin-left: 7%;
  height: auto;
  margin: 0;
  background: #eee;
  width: 25%;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 0;
  height: auto;
  border: 1px solid black;

}
.schedtasks:nth-child(odd) {
  background: #f9f9f9;
}

/* Styles the remove class */
.remove {
  display: inline-block;
  float: right;
  font-size: 12pt;
}

/* Styles the schedselect class */
.schedselect {
  margin-top: 2%;
  margin-left: 5%;
  border: 2px solid #4055FF;
  border-radius: 4px;
}
